<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="content"><%= micropost.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
    <% if current_user?(micropost.user) %>
      <%= link_to "Delete", micropost, method: :delete, data: { confirm: "Really?" } %>
    <% end %>
  </span>
  
  <% if micropost.likers.count > 0 %>
    <section class="stats">
        Likes: <%= micropost.likers.count %>
    </section>
  <% end %>

  <% if current_user.liked?(micropost) %>
    <%= render 'shared/unlike', object: micropost %>
  <% else %>
    <%= render 'shared/like', object: micropost %> 
  <% end %>
  
  <%= render 'shared/create', object: micropost %>
  
  <p>Comments: <%= render 'shared/comments', object: micropost.comments %></p>